 <div class="row">
   <div class="col-6">
     <div class="card">
       <div class="card-body">
         <app-doughnut-chart [chartLabels]='graphs.graph1.labels' [chartData]='graphs.graph1.data'
           [chartType]='graphs.graph1.type' [legend]='graphs.graph1.legend'></app-doughnut-chart>
       </div>
     </div>
   </div>
   <div class="col-6">
     <div class="card">
       <div class="card-body">
         <app-doughnut-chart [chartLabels]='graphs.graph2.labels' [chartData]='graphs.graph2.data'
           [chartType]='graphs.graph2.type' [legend]='graphs.graph2.legend'></app-doughnut-chart>
       </div>
     </div>
   </div>
 </div>
 <div class="row">
   <div class="col-6">
     <div class="card">
       <div class="card-body">
         <app-doughnut-chart [chartLabels]='graphs.graph3.labels' [chartData]='graphs.graph3.data'
           [chartType]='graphs.graph3.type' [legend]='graphs.graph3.legend'></app-doughnut-chart>
       </div>
     </div>
   </div>
   <div class="col-6">
     <div class="card">
       <div class="card-body">
         <app-doughnut-chart [chartLabels]='graphs.graph4.labels' [chartData]='graphs.graph4.data'
           [chartType]='graphs.graph4.type' [legend]='graphs.graph4.legend'></app-doughnut-chart>
       </div>
     </div>
   </div>
 </div>
